$black: black;
$red: #CE2A23;
$text: #333;
$lightblue: #a7c4d9;
$darkblue: #4e85a4;

$lightgray: #ababab;
$verylightgray: #cacaca;

// alternate states

$darker-red: darken($red, 5%);

// colour options
$news: $black;
$rob: $red;
$investor: #D9770B;