%interface-font-light {
  font-family: Georgia, serif;
  font-weight: normal;
}

%interface-font-regular {
  font-family: Georgia, serif;
  font-weight: normal;
}

%interface-font-bold {
  font-family: Georgia, serif;
  font-weight: normal;
}

%interface-font-black {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
