$interface-font-light: Georgia, serif;
$interface-font-regular: Georgia, serif;
$interface-font-bold: Georgia, serif;
$interface-font-black: Georgia, serif;

@mixin interface-font-light {
  font-family: $interface-font-light;
  font-weight: normal;
}

@mixin interface-font-regular {
  font-family: $interface-font-regular;
  font-weight: normal;
}

@mixin interface-font-bold {
  font-family: $interface-font-bold;
  font-weight: bold;
}

@mixin interface-font-black {
  font-family: $interface-font-black;
  font-weight: bold;
}
