.#{$prefix}axis path {
  display: none;
}

.#{$prefix}yAxis .#{$prefix}minor line {
  stroke: $axis-stroke-color;
  stroke-dasharray: $axis-stroke-dasharray;
  shape-rendering: crispEdges;
}

.#{$prefix}axis-group g.tick line {
  stroke: $axis-stroke-color;
  stroke-width: $axis-stroke-width;
}

.#{$prefix}yAxis g.tick text {
  text-anchor: end !important;
}

.#{$prefix}axis-group path {
  shape-rendering: crispEdges;
  stroke: $axis-stroke-color;
  stroke-width: $axis-stroke-width;
}

.#{$prefix}axis-group text {
  @include utility-font;
}

.#{$prefix}axis-group path {
  shape-rendering: crispEdges;
  stroke: $axis-stroke-color;
  stroke-width: $axis-stroke-width;
}

.#{$prefix}axis-group .major-tick line  {
  display: inline;
  stroke: $axis-stroke-color;
  stroke-width: $axis-stroke-width;
}

.last-tick-hide {
  display: none;
}

.#{$prefix}axis-group path.domain {
  display: none;
}

.#{$prefix}zero-line {
  stroke-width: $axis-stroke-width;
  stroke: $axis-stroke-color;
  stroke-linecap: square;
}
