.#{$prefix}chart_source, .#{$prefix}chart_credit {
  @include utility-font;
  padding-top: 5px;
  padding-left: 0;
  display: inline-block;
  min-width: 50px;
  text-transform: uppercase;
  font-size: 11px;
}
