.#{$prefix}chart_source {
  @include utility-font;
  margin-top: 10px;
  padding-left: 0;
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.1;
  @media only screen and (min-width: 420px) {
    width: calc(100% - 100px);
    display: inline-block;
  }
}
