// heading
.#{$prefix}chart_title {
  margin-bottom: 0px;
  padding: 0;
  padding-bottom: 2px;
  @include heading-font;
  &:only-child {
    padding-bottom: 15px;
  }
}

// legend
.#{$prefix}chart_legend {
  padding: 4px 0;
}

.#{$prefix}chart_legend .#{$prefix}legend_item {
  display: inline-block;
  margin-right: 1em;
  @include utility-font;
}
.#{$prefix}chart_legend .#{$prefix}legend_item .#{$prefix}legend_item_text {
  display: inline-block;
  vertical-align: middle;
}

.#{$prefix}chart_legend .#{$prefix}legend_item .#{$prefix}legend_item_icon {
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  border-radius: 10px;
  width: 10px;
  margin-right: 4px;
}

.#{$prefix}primary .#{$prefix}chart_legend .#{$prefix}legend_item_0 .#{$prefix}legend_item_icon {
  background: $primary-color;
}

.#{$prefix}alternate .#{$prefix}chart_legend .#{$prefix}legend_item_0 .#{$prefix}legend_item_icon {
  background: $alternate-color;
}

// qualifier
.#{$prefix}chart_qualifier {
  margin: 0;
  background: $white;
  height: auto;
  @include utility-font;
}

.#{$prefix}chart_qualifier-bar {
  margin-top: 2px;
}

.#{$prefix}chart_qualifier-text-bg {
  stroke: $white;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: $white;
}

.#{$prefix}fo.#{$prefix}qualifier, .#{$prefix}fo.#{$prefix}qualifier > div {
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 0px;
  vertical-align: middle;
  @include utility-font;
}

@for $counter from 1 through $series-count-max {

  .#{$prefix}primary .#{$prefix}chart_legend .#{$prefix}legend_item_#{$counter} .#{$prefix}legend_item_icon {
    background: nth($primaryShades, $counter);
  }

  .#{$prefix}alternate .#{$prefix}chart_legend .#{$prefix}legend_item_#{$counter} .#{$prefix}legend_item_icon{
    background: nth($alternateShades, $counter);
  }

}
