// heading

.#{$prefix}chart_title {
  font-family: $heading-font;
  font-size: $heading-size;
  margin-bottom: 0px;
  padding: 0;
  line-height: 1em;
  padding-bottom: 2px;
  &:only-child {
    padding-bottom: 15px;
  }
}

// legend

.#{$prefix}chart_legend {
  padding-bottom: $utility-size;
}

.#{$prefix}chart_legend .#{$prefix}legend_item {
  display: inline-block;
  margin-right: 1em;
  font-family: $utility-font;
  font-size: $utility-size;
}
.#{$prefix}chart_legend .#{$prefix}legend_item .#{$prefix}legend_item_text{
  display: inline-block;
  vertical-align: middle;
}

.#{$prefix}chart_legend .#{$prefix}legend_item .#{$prefix}legend_item_icon{
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  border-radius: 10px;
  width: 10px;
  background: $red;
  margin-right: 4px;
}

.#{$prefix}chart_legend .#{$prefix}legend_item_2 .#{$prefix}legend_item_icon,
.#{$prefix}chart_svg.column .#{$prefix}chart_legend .#{$prefix}legend_item_2 .#{$prefix}legend_item_icon {
  background: $grey1;
}

.#{$prefix}chart_legend .#{$prefix}legend_item_3 .#{$prefix}legend_item_icon,
.#{$prefix}chart_svg.column .#{$prefix}chart_legend .#{$prefix}legend_item_3 .#{$prefix}legend_item_icon {
  background: $grey2;
}

.#{$prefix}chart_legend .#{$prefix}legend_item_4 .#{$prefix}legend_item_icon,
.#{$prefix}chart_svg.column .#{$prefix}chart_legend .#{$prefix}legend_item_4 .#{$prefix}legend_item_icon {
  background: $grey3;
}

.seriesAmount5 {
  .#{$prefix}chart_legend .#{$prefix}legend_item_2 .#{$prefix}legend_item_icon,
  .#{$prefix}chart_svg.column .#{$prefix}chart_legend .#{$prefix}legend_item_2 .#{$prefix}legend_item_icon {
    background: $black;
  }

  .#{$prefix}chart_legend .#{$prefix}legend_item_3 .#{$prefix}legend_item_icon,
  .#{$prefix}chart_svg.column .#{$prefix}chart_legend .#{$prefix}legend_item_3 .#{$prefix}legend_item_icon {
    background: $grey1;
  }

  .#{$prefix}chart_legend .#{$prefix}legend_item_4 .#{$prefix}legend_item_icon,
  .#{$prefix}chart_svg.column .#{$prefix}chart_legend .#{$prefix}legend_item_4 .#{$prefix}legend_item_icon {
    background: $grey2;
  }

  .#{$prefix}chart_legend .#{$prefix}legend_item_5 .#{$prefix}legend_item_icon,
  .#{$prefix}chart_svg.column .#{$prefix}chart_legend .#{$prefix}legend_item_5 .#{$prefix}legend_item_icon {
    background: $grey3;
  }

}

.#{$prefix}news .#{$prefix}chart_legend .#{$prefix}legend_item_1 .#{$prefix}legend_item_icon  {
  background: $black;
}

.#{$prefix}investor .#{$prefix}chart_legend .#{$prefix}legend_item_1 .#{$prefix}legend_item_icon  {
  background: $orange;
}

.#{$prefix}rob .#{$prefix}chart_svg.column .#{$prefix}chart_legend .#{$prefix}legend_item_1 .#{$prefix}legend_item_icon  {
  background: $red;
}

.#{$prefix}news .#{$prefix}chart_svg.column .#{$prefix}chart_legend .#{$prefix}legend_item_1 .#{$prefix}legend_item_icon {
  background: $black;
}

// qualifier

.#{$prefix}chart_qualifier {
  font-family: $utility-font;
  margin: 0;
  font-size: $utility-size;
  line-height: $utility-size;
  background: white;
  height: auto;
}

.#{$prefix}fo.#{$prefix}qualifier, .#{$prefix}fo.#{$prefix}qualifier > div {
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 0px;
  font-size: $utility-size;
  line-height: $utility-size;
  vertical-align: middle;
}
