.#{$prefix}chart_meta {
  position: relative;
  text-align: left;
  width: 100%;
  display: inline-block;
  float: none;
  margin-top: 0;
  @media(min-width: 420px) {
    float: right;
    position: relative;
    width: auto;
    margin-top: 8px;
  }
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.#{$prefix}chart_meta_btn {
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  margin-top: 5px;
  text-transform: uppercase;
  @include utility-font;
  font-size: 11px;
  color: $color-gray-medium;
  border-right: 1px solid $color-gray-medium;
  &:hover {
    color: $primary-color;
  }
  @media(min-width: 420px) {
    margin-left: 10px;
    padding: 0;
    border: none;
    margin-top: 0;
  }
  &:last-child {
    border-right: none;
  }

  &:first-child {
    margin-left: -10px;
  }
}

.#{$prefix}chart_data {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $color-gray-light;
  transition: opacity .5s;
  height: 0;
  pointer-events: none;
  &.#{$prefix}active {
    pointer-events: auto;
    height: auto;
    opacity: 1;
    transition: opacity .5s;
    display: block;
  }
}

.#{$prefix}chart_data_wrapper {
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  .#{$prefix}chart_title {
    margin: 0;
    margin-bottom: 1em;
  }
}

.#{$prefix}chart_data_inner {
  background: $color-white;
  color: $color-black;
  font-size: 1.2em;
  line-height: 1.6em;
  border: 1px solid $color-gray-medium;
  flex: 1;
  overflow: auto;
}

.#{$prefix}chart_data_inner table {
  border-spacing: 0;
  width: 100%;
  th, td {
    font-family: monospace;
    font-size: 0.8em;
  }
  th {
    color: black;
    border-bottom: 1px solid $color-gray-medium;
    text-align: left;
    padding: 0.5em 1em;
    line-height: 1;
  }
  td {
    padding: 0.2em 1em;
    text-align: left;
  }
  tr:nth-child(odd) td {
    background: $color-gray-light;
  }
  tr:nth-child(even) td {
    background: white;
  }
}

.#{$prefix}chart_data_nav {
  margin-top: 1em;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.8em;
  .#{$prefix}chart_data_btn,
  .#{$prefix}chart_data_close {
    text-decoration: none;
    color: $color-black;
    display: inline-block;
    color: $color-black;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: 5px;
    border: 1px solid $color-gray-medium;
    &:hover {
      color: $primary-color;
      border: 1px solid $primary-color;
      opacity: 0.6;
    }
  }
  .#{$prefix}chart_data_btn {
    margin-right: 0.5em;
  }
}
