.#{$prefix}chart_meta {
  position: absolute;
  text-align: right;
  width: 100%;
  bottom: -5px;
  right: 5px;
}

.#{$prefix}chart_meta_btn {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  margin-left: 5px;
  text-transform: uppercase;
  @include utility-font;
  font-size: 11px;
  &:hover {
    color: $primary-color;
  }
}

.#{$prefix}chart_social {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  background: lighten($verylightgray, 16%);
  transition: transform .25s, opacity .5s;
  transform: translateY(100%);
  height: 0;
  pointer-events: none;
  &.#{$prefix}active {
    pointer-events: auto;
    height: auto;
    opacity: 1;
    transform: translateY(0%);
    display: block;
  }
}

.#{$prefix}chart_social_close {
  position: absolute;
  right: 1.2em;
  top: 1.8em;
  border: 1px solid $lightgray;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: $text;
  cursor: pointer;
  background: white;
  &:hover {
    opacity: 0.5;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.#{$prefix}chart_social_inner {
  background: $white;
  color: $text;
  font-size: 1.2em;
  line-height: 1.6em;
  overflow: scroll;
  position: absolute;
  left: 1em;
  right: 1em;
  top: 4em;
  bottom: 4em;
  padding: 1em .25em;
  border: 1px solid $lightgray;
  table {
    border-spacing: 0;
    tr td {
      padding: .5em 2em;
      text-align: right;
      line-height: 1.2em;
    }
  }
}


.#{$prefix}chart_social_inner table tr td:nth-child(1) {
  text-align: left;
}

.#{$prefix}chart_social_inner table tr:nth-child(odd) td {
  background: lighten($verylightgray, 16%);
}

.#{$prefix}chart_social_inner table tr:nth-child(1) td {
  background: white;
  color: black;
  font-size: 0.8em;
  border-bottom: 1px solid $lightgray;
}

.#{$prefix}chart_social_nav {
  position: absolute;
  bottom: 1.5em;
  right: 2em;
}

.#{$prefix}chart_social_nav .#{$prefix}chart_social_btn {
  text-decoration: none;
  color: $text;
  display: inline-block;
  padding: .5em 1em;
  cursor: pointer;
  border-radius: 1em;
  border: 1px solid $lightgray;
  margin-left: 1em;
  text-transform: uppercase;
  font-size: 0.8em;
}

.#{$prefix}chart_social_nav .#{$prefix}chart_social_btn:hover {
  color: $primary-color;
  border: 1px solid $primary-color;
  opacity: 0.6;
}

.#{$prefix}chart_social h2 {
  font-size: 1em;
  position: absolute;
  top: 2em;
  left: 2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.#{$prefix}chart_social_options {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  h3 {
    width: 100%;
    text-align: center;
  }
}

.#{$prefix}social-icon {
  width: 50px;
  margin-top: 15px;
  opacity: 0.5;
}

.#{$prefix}image-url {
  padding: 1em;
  background: $white;
  border: 1px solid $lightgray;
  width: 80%;
  white-space: nowrap;
  overflow-x: hidden;
}

.#{$prefix}social-item {
  display: inline-block;
  text-align: center;
  width: 18%;
  line-height: 80px;
  margin: 10px;
   a {
    text-decoration: none;
    display: block;
    background: none;
    color: $text;
    height: 80px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    transition: opacity 0.5s;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}
