// temporary styles

.#{$prefix}tip_overlay {
  fill: $white;
  opacity: 0;
}

.#{$prefix}tip_box {
  opacity: 0;
  transition: opacity 0.3s;
  &.#{$prefix}active {
    opacity: 1;
  }
}

.#{$prefix}tip_rect {
  fill: $white;
}

.#{$prefix}tip_text {
  fill: $black;
  @include utility-font;
}

.#{$prefix}tip_line-x {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  &.#{$prefix}active {
    opacity: 1;
  }
  line {
    stroke: $axis-stroke-color;
    stroke-dasharray: $axis-stroke-dasharray;
    stroke-width: $axis-stroke-width;
    shape-rendering: crispEdges;
  }
}

// .#{$prefix}tip .#{$prefix}tip_circle  {
//   fill: $shade2;
// }

// .#{$prefix}primary .#{$prefix}tip .#{$prefix}tip_circle.#{$prefix}tip_circle-0  {
//   fill: $primary-color;
// }

// .#{$prefix}alternate .#{$prefix}tip .#{$prefix}tip_circle.#{$prefix}tip_circle-0  {
//   fill: $alternate-color;
// }


