// temporary styles

.#{$prefix}tip_overlay {
  fill: white;
  opacity: 0;
}

.#{$prefix}tip_box {
  opacity: 0;
  transition: opacity 0.3s;
  &.#{$prefix}active {
    opacity: 1;
  }
}

.#{$prefix}tip_rect {
  fill: white;
}

.#{$prefix}tip_text {
  fill: $black;
  @extend %utility-font;
}

.#{$prefix}tip_line-x {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  &.#{$prefix}active {
    opacity: 1;
  }
  line {
    stroke: $axis-stroke-color;
    stroke-dasharray: $axis-stroke-dasharray;
    stroke-width: $axis-stroke-width;
    shape-rendering: crispEdges;
  }
}

.#{$prefix}tip .#{$prefix}tip_circle  {
  fill: $primary-color;
}

.#{$prefix}tip .#{$prefix}tip_circle-2  {
  fill: $shade1;
}

.#{$prefix}tip .#{$prefix}tip_circle-3  {
  fill: $shade2;
}

.#{$prefix}tip .#{$prefix}tip_circle-4  {
  fill: $shade3;
}

.#{$prefix}tip .#{$prefix}tip_circle-5  {
  fill: $primary-color;
}

.#{$prefix}series-5 {
  .#{$prefix}tip .#{$prefix}tip_circle-2  {
    fill: $black;
  }
  .#{$prefix}tip .#{$prefix}tip_circle-3  {
    fill: $shade1;
  }
  .#{$prefix}tip .#{$prefix}tip_circle-4  {
    fill: $shade2;
  }
  .#{$prefix}tip .#{$prefix}tip_circle-5  {
    fill: $shade3;
  }
}