// temporary styles

.#{$prefix}tip_overlay {
  fill: $white;
  opacity: 0;
}

.#{$prefix}tip_box {
  opacity: 0;
  transition: opacity 0.3s;
  &.#{$prefix}active {
    opacity: 1;
  }
}

.#{$prefix}tip_rect {
  fill: $white;
}

.#{$prefix}tip_text {
  fill: $black;
  @include utility-font;
}

.#{$prefix}tip_text-date {
  font-weight: bold;
}

.#{$prefix}tip_line-x {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  &.#{$prefix}active {
    opacity: 1;
  }
  line {
    stroke: $axis-stroke-color;
    stroke-dasharray: $axis-stroke-dasharray;
    stroke-width: $axis-stroke-width;
    shape-rendering: crispEdges;
  }
}

.#{$prefix}primary .#{$prefix}tip .#{$prefix}tip_circle-0, .#{$prefix}primary .#{$prefix}tip .#{$prefix}tip_path-circle-0 {
  fill: $primary-color;
}

.#{$prefix}alternate .#{$prefix}tip .#{$prefix}tip_circle-0, .#{$prefix}alternate .#{$prefix}tip .#{$prefix}tip_path-circle-0 {
  fill: $alternate-color;
}

.#{$prefix}tip .#{$prefix}tip_text-group.#{$prefix}active,
.#{$prefix}tip .#{$prefix}tip_path-circle-group.#{$prefix}active,
.#{$prefix}tip .#{$prefix}tip_path-circle.#{$prefix}active {
  display: block;
  opacity: 1;
}

.#{$prefix}tip .#{$prefix}tip_path-circle-group,
.#{$prefix}tip .#{$prefix}tip_path-circle {
  display: none;
}

.#{$prefix}tip .#{$prefix}tip_text-group {
  opacity: 0.3;
}


@for $counter from 1 through $series-count-max {

  .#{$prefix}primary .#{$prefix}tip .#{$prefix}tip_circle.#{$prefix}tip_circle-#{$counter},
  .#{$prefix}primary .#{$prefix}tip .#{$prefix}tip_path-circle.#{$prefix}tip_path-circle-#{$counter}  {
    fill: nth($primaryShades, $counter);
  }

  .#{$prefix}alternate .#{$prefix}tip .#{$prefix}tip_circle.#{$prefix}tip_circle-#{$counter},
  .#{$prefix}alternate .#{$prefix}tip .#{$prefix}tip_path-circle.#{$prefix}tip_path-circle-#{$counter}  {
    fill: nth($alternateShades, $counter);
  }

}

.#{$prefix}tip_path-circle {

}
