<template name="chartOverlayWeb">

  <div class="overlay-header">
    <h3>Web export</h3>
      <div class="overlay-close">&times;</div>
  </div>

  <div class="overlay-web">

    <div class="web-export web-export-web">
      <h3>Web</h3>

      <p>Web images are sized at 460px, 620px, and 940px wide, and can have several different aspect ratios. All images download at 2&times; scale for retina screen support.</p>

      <form class="web-export-picker">

        <div class="select-wrapper">
          <select type="choice" name="width" class="select-web-export-width">
            <option value="460">460px</option>
            <option value="620">620px</option>
            <option value="940">940px</option>
          </select>
        </div>

        <div class="select-wrapper">
          <select type="choice" name="ratio" class="select-web-export-ratio">
            <option value="67%">3&times;2</option>
            <option value="56.25%">16&times;9</option>
            <option value="100%">1&times;1</option>
            <option value="150%">2&times;3</option>
            <option value="200%">2&times;1</option>
          </select>
        </div>

        <input class="web-export-submit" value="Download" type="submit">

      </form>

    </div>

    <div class="web-export web-export-social">
      <h3>Social</h3>

      <p>Social images are sized to match the aspect ratios of their respective platforms&rsquo; &ldquo;cards&rdquo;.</p>

      <div class="web-export-button" data-width="440" data-scale="2" data-ratio="50%" data-descriptor="twitter">Twitter</div>

      <div class="web-export-button" data-width="472" data-scale="2" data-ratio="83%" data-descriptor="facebook">Facebook</div>

    </div>

    <div class="web-export web-export-video">
      <h3>Custom sizes</h3>

      <p>Need a custom sized-image for your chart? Just pick a width, aspect ratio, and scale factor.</p>

      <form class="web-export-custom-picker">

        <div class="web-export-custom-field">
          <h4>Width</h4>
            <span><input type="number" name="width" placeholder="400" class="input-index input-field">px</span>
        </div>

        <div class="web-export-custom-field">
          <h4>Height</h4>
            <span><input type="number" name="height" placeholder="600" class="input-index input-field">px</span>
        </div>

        <div class="select-wrapper">
          <select type="choice" name="width" class="select-web-export-custom-scale">
            <option value="1">1x</option>
            <option value="2">2x</option>
            <option value="3">3x</option>
            <option value="4">4x</option>
          </select>
        </div>

        <input class="web-export-custom-submit" value="Download" type="submit">

      </form>

    </div>

  </div>

</template>
