.chart-pdf, .print-export-preview-chart, .chart-print-export {

  svg {
    fill: none;
    background: none;
  }

  .tip, .cursor, .focus, .overlay {
    display: none;
  }

  .#{$prefix}chart_svg {
    margin: 0;
    line-height: 1em;
  }

  .domain {
    display: none;
  }

  .#{$prefix}axis-group g.tick {
    fill: none;
  }

}

