<template name="chartHome">
  <div class="chart-home">
    <h1 class="welcome">Welcome to Chart Tool</h1>
    <h2>Please select from one of the options below:</h2>

    <div class="button-pick">
      <div class="button button-home">
        <a href="/list">Browse the chart archive</a>
      </div>
      <div class="button button-home">
        <a href="/new">Make a chart with your own data</a>
      </div>

      <h4 class="coming-soon">Coming soon</h4>
      <div class="button button-home inactive">
        <a href="#">Make a chart using the data picker</a>
      </div>
    </div>

  </div>
</template>
