@import "./settings/fonts";
@import "./settings/settings";

@import "../../custom/base";

@import "./components/header";
@import "./components/axis";
@import "./components/credit";
@import "./components/tips";

@import "./types/series-line";
@import "./types/series-area";
@import "./types/series-bar";
@import "./types/series-stream";
@import "./types/series-column";

// @import "debug";

.#{$prefix}bg {
	fill: white;
}

.#{$prefix}chart_svg {
  display: block;
}

.#{$prefix}chart {
  width: $width;
  height: auto;
  background-color: white;
  margin: $margin;
  @extend %utility-font;
}

@import "../../custom/custom.scss";