@import './settings/settings';

@import '../../custom/base';

@import './components/header';
@import './components/axis';
@import './components/credit';
@import './components/tips';
@import './components/share_data';
@import './components/social';

@import './types/series-line';
@import './types/series-multiline';
@import './types/series-area';
@import './types/series-bar';
@import './types/series-column';
@import './types/series-scatterplot';


// @import 'debug';

.#{$prefix}bg {
	fill: $color-white;
}

.#{$prefix}chart_svg {
  display: block;
}

.#{$prefix}chart {
  width: $width;
  height: auto;
  background-color: $color-white;
  margin: $margin;
  position: relative;
  overflow: hidden;
  @include utility-font;
}

.#{$prefix}thumbnail {
  width: 100%;
}

.#{$prefix}base64img {
  display: none;
}

@import '../../custom/custom.scss';
