<template name="chartArchive">

  <section class="charts-archive_search">
    {{ > searchBox }}
  </section>

  <aside class="charts-archive_aside sticky">
    <h2>Filters</h2>
    <div class="edit-box">
      <h3>Tags</h3>
      <div class="unit-edit charts-archive_tags">
        this is where the tagging system will go, incl. a typeahead
      </div>
    </div>
    <div class="edit-box">
      <h3>Chart type</h3>
      <div class="unit-edit charts-archive_type">
        <ul>
          <li>
            <input id="lineType" type="checkbox" name="chart-type-line" value="line" class="input-checkbox" checked="{{ typeChecked 'line' }}">
            <label for="lineType">Line</label>
          </li>
          <li>
            <input id="multilineType" type="checkbox" name="chart-type-multiline" value="multiline" class="input-checkbox" checked="{{ typeChecked 'multiline' }}">
            <label for="multilineType">Multiline</label>
          </li>
          <li>
            <input id="areaType" type="checkbox" name="chart-type-area" value="area" class="input-checkbox" checked="{{ typeChecked 'area' }}">
            <label for="areaType">Area</label>
          </li>
          <li>
            <input id="columnType" type="checkbox" name="chart-type-column" value="column" class="input-checkbox" checked="{{ typeChecked 'column' }}">
            <label for="columnType">Column</label>
          </li>
          <li>
            <input id="barType" type="checkbox" name="chart-type-bar" value="bar" class="input-checkbox" checked="{{ typeChecked 'bar' }}">
            <label for="barType">Bar</label>
          </li>
          <li>
            <input id="streamgraphType" type="checkbox" name="chart-type-streamgraph" value="streamgraph" class="input-checkbox" checked="{{ typeChecked 'streamgraph' }}">
            <label for="streamgraphType">Streamgraph</label>
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <section class="charts-archive_results">
    {{ #each chartEntries }}
      {{ > chartArchiveSingle }}
    {{ /each }}
  </section>

</template>
