.#{$prefix}series_group .#{$prefix}stream-series {
  fill: $shade4;
}

.#{$prefix}primary .#{$prefix}series_group .#{$prefix}stream-series.#{$prefix}highlight {
  fill: $primary-color;
}

.#{$prefix}alternate .#{$prefix}series_group .#{$prefix}stream-series.#{$prefix}highlight {
  fill: $alternate-color;
}

.#{$prefix}series_group .#{$prefix}stream-series.#{$prefix}line {
  fill: none;
  stroke: white;
  stroke-width: 3px;
}