.#{$prefix}type_area .#{$prefix}series_group .#{$prefix}line {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: $line-stroke-width;
}

.#{$prefix}primary.#{$prefix}type_area .#{$prefix}line.#{$prefix}line-0 {
  stroke: $primary-color;
}

.#{$prefix}alternate.#{$prefix}type_area .#{$prefix}line.#{$prefix}line-0 {
  stroke: $alternate-color;
}

.#{$prefix}type_area .#{$prefix}series_group.#{$prefix}multiple .#{$prefix}line {
  stroke: $color-white;
}

@for $counter from 1 through $series-count-max {
  .#{$prefix}primary.#{$prefix}type_area .#{$prefix}series_group .#{$prefix}fill.#{$prefix}fill-#{$counter - 1} {
    fill: nth($primaryShades, $counter);
  }
  .#{$prefix}alternate.#{$prefix}type_area .#{$prefix}series_group .#{$prefix}fill.#{$prefix}fill-#{$counter - 1} {
    fill: nth($alternateShades, $counter);
  }
}
