.#{$prefix}type_bar .#{$prefix}series_group .#{$prefix}bar rect {
  stroke-width: 1px;
  stroke: $color-white;
  shape-rendering: crispEdges;
  transition: opacity 0.3s;
}

.#{$prefix}bar-label {
  @include utility-font;
  dominant-baseline: middle;
  fill: $color-black;
}

@for $counter from 1 through $series-count-max {

  .#{$prefix}primary.#{$prefix}type_bar .#{$prefix}series_group .#{$prefix}bar-#{$counter - 1} rect {
    fill: nth($primaryShades, $counter);
  }

  .#{$prefix}alternate.#{$prefix}type_bar .#{$prefix}series_group .#{$prefix}bar-#{$counter - 1} rect {
    fill: nth($alternateShades, $counter);
  }

}
