@for $counter from 1 through $series-count-max {
  .#{$prefix}primary.#{$prefix}type_stream .#{$prefix}series_group .#{$prefix}series.#{$prefix}series-#{$counter - 1} .#{$prefix}stream-series {
    fill: nth($primaryShades, $counter);
  }
  .#{$prefix}alternate.#{$prefix}type_stream .#{$prefix}series_group .#{$prefix}series.#{$prefix}series-#{$counter - 1} .#{$prefix}stream-series {
    fill: nth($alternateShades, $counter);
  }
}

.#{$prefix}primary.#{$prefix}type_stream .#{$prefix}series_group .#{$prefix}series .#{$prefix}stream-series.#{$prefix}line,
.#{$prefix}alternate.#{$prefix}type_stream .#{$prefix}series_group .#{$prefix}series .#{$prefix}stream-series.#{$prefix}line {
  fill: none;
  stroke: $white;
  stroke-width: $line-stroke-width;
}
