.#{$prefix}primary.#{$prefix}type_column .#{$prefix}series_group .#{$prefix}column rect,
.#{$prefix}alternate.#{$prefix}type_column .#{$prefix}series_group .#{$prefix}column rect {
  stroke-width: 1px;
  stroke: $white;
}

.#{$prefix}series rect.#{$prefix}column.#{$prefix}muted,
.#{$prefix}column rect.#{$prefix}muted {
  opacity: .5;
}

@for $counter from 1 through $series-count-max {

  .#{$prefix}primary.#{$prefix}type_column .#{$prefix}series_group .#{$prefix}series_#{$counter - 1} .#{$prefix}column-#{$counter - 1} rect {
    fill: nth($primaryShades, $counter);
  }

  .#{$prefix}alternate.#{$prefix}type_column .#{$prefix}series_group .#{$prefix}series_#{$counter - 1} .#{$prefix}column-#{$counter - 1} rect {
    fill: nth($alternateShades, $counter);
  }

}
