
.#{$prefix}primary.#{$prefix}type_stream .#{$prefix}series_group .#{$prefix}series .#{$prefix}stream-series,
.#{$prefix}alternate.#{$prefix}type_stream .#{$prefix}series_group .#{$prefix}series .#{$prefix}stream-series {
  fill: $shade2;
  stroke: $white;
  stroke-width: 1px;
}

.#{$prefix}primary.#{$prefix}type_stream .#{$prefix}series_group .#{$prefix}series .#{$prefix}stream-series.#{$prefix}line,
.#{$prefix}alternate.#{$prefix}type_stream .#{$prefix}series_group .#{$prefix}series .#{$prefix}stream-series.#{$prefix}line {
  fill: none;
  stroke: $white;
  stroke-width: 1px;
}

.#{$prefix}primary.#{$prefix}type_stream .#{$prefix}series_group .#{$prefix}series.#{$prefix}series_0 .#{$prefix}stream-series {
  fill: $primary-color;
  stroke: $white;
  stroke-width: 2px;
}

.#{$prefix}alternate.#{$prefix}type_stream .#{$prefix}series_group .#{$prefix}series.#{$prefix}series_0 .#{$prefix}stream-series {
  fill: $alternate-color;
  stroke: $white;
  stroke-width: 2px;
}
