
.#{$prefix}series_group .#{$prefix}line,
.#{$prefix}series_group.#{$prefix}multiple .#{$prefix}line {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: $shade2;
  stroke-width: 1px;
}


.#{$prefix}primary .#{$prefix}series_group .#{$prefix}line.#{$prefix}-line-0 {
  stroke-width: 2px;
  stroke: $primary-color;
}

.#{$prefix}alternate .#{$prefix}series_group .#{$prefix}line.#{$prefix}-line-0 {
  stroke-width: 2px;
  stroke: $alternate-color;
}

