.#{$prefix}type_line {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: $line-stroke-width;
}

@for $pcounter from 1 through $palette-count {
  $palette: nth( $palettes, $pcounter );
  $palette-name: nth( $palette-names, $pcounter );

  @for $counter from 1 through $series-count-max {
    .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}series_group .#{$prefix}line.#{$prefix}line-#{$counter - 1} {
      stroke: nth( $palette, $counter );
    }
  }
}
