.#{$prefix}type_multiline .#{$prefix}multiline {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: $line-stroke-width;
}


@for $pcounter from 1 through $palette-count {
  $palette: nth( $palettes, $pcounter );
  $palette-name: nth( $palette-names, $pcounter );

  // Sets all other series to final colour

  .#{$prefix + $palette-name}.#{$prefix}type_multiline .#{$prefix}series_group.#{$prefix}multiple .#{$prefix}multiline {
    stroke: nth( $palette, $series-count-max );
  }

  .#{$prefix + $palette-name} .#{$prefix}chart_legend.#{$prefix}chart_legend-multiline .#{$prefix}legend_item_icon {
    background: nth( $palette, $series-count-max );
  }

  .#{$prefix + $palette-name}.#{$prefix}type_multiline .#{$prefix}tip .#{$prefix}tip_circle {
    fill: nth( $palette, $series-count-max );
  }


  // Sets first series to primary colour

  .#{$prefix + $palette-name}.#{$prefix}type_multiline .#{$prefix}series_group .#{$prefix}multiline.#{$prefix}multiline-0 {
    stroke: nth( $palette, 1 );
  }

  .#{$prefix + $palette-name} .#{$prefix}chart_legend.#{$prefix}chart_legend-multiline .#{$prefix}legend_item_0 .#{$prefix}legend_item_icon {
    background: nth( $palette, 1 );
  }

  .#{$prefix + $palette-name}.#{$prefix}type_multiline .#{$prefix}tip .#{$prefix}tip_circle.#{$prefix}tip_circle-0 {
    fill: nth( $palette, 1 );
  }


}
