
.#{$prefix}type_bar .#{$prefix}series_group .#{$prefix}bar rect{
  fill: $primary-color;
  stroke-width: 0;
}

.#{$prefix}type_bar .#{$prefix}series_group .#{$prefix}multiple .#{$prefix}bar rect{
  fill: $shade2;
  stroke-width: 0;
}
