<template name="chartShow">
  <div class="chart-show">
    <div class="top-line">
      <h3 class="slug">{{ slug }}</h3>
      <div class="chart-links">
        <h3 class="edit"><a href="/chart/edit/{{ _id }}">Edit</a></h3>
      </div>
    </div>
    <div class="chart-show_preview"></div>
    {{ #if tags }}
      <div class="chart-show_tags">
        <h4>Tags</h4>
        <ul>{{ #each tags }}<li>{{ this }}</li>{{ /each }}</ul>
      </div>
    {{ /if }}
    <div class="chart-show_dates">
      <p>Created on {{ prettyCreatedAt }}</p>
      <p>Last edited {{ relativeLastEdited }} ago</p>
    </div>
    <div class="chart-show_fork">Fork this chart</div>
  </div>
</template>
