<template name="chartNew">
  {{> loginButtons}}

    <p>Slack user name: <b>{{currentUser.profile.name}}</b></p>
    <p>Slack team name: <b>{{currentUser.profile.team}}</b></p>
    <p>Slack user id: <b>{{currentUser.profile.user_id}}</b></p>
    <p>Slack team id: <b>{{currentUser.profile.team_id}}</b></p>

  <form class="new-chart">
    <input type="text" name="slug" placeholder="Slug" class="input-slug">
    <textarea type="text" name="pasteData" placeholder="Paste your spreadsheet data here" class="input-data"></textarea>
    <input type="submit" value="Create chart" class="input-submit">
  </form>

</template>
