<template name="header">
  <div class="header-edit">

    <div class="topbar"></div>
    <div class="header-baseline">

      <div class="header-grid">
        <div class="chart-slug">
          <input type="text" name="slug" class="input-slug-edit" placeholder="{{ slug }}" value="{{ slug }}">
          <h2 class="edit-indicator">Edit</h2>
          <h2 class="header-help">Help</h2>
        </div>

        <div class="header-edit-nav">
          <h2 class="header-list"><a href="/list">Archive</a></h2>
          <h2 class="header-new"><a href="/new">New chart</a></h2>
        </div>
      </div>

    </div>
  </div>
</template>
