$base-col: #231F20;
$red: #CE2A23;
$orange: #D9770B;

$grey1: #555;
$grey2: #999;
$grey3: #ccc;
$grey4: #EEE;
$grey5: #F5F5F5;

$black: #000;

$b10: #E5E5E5;
$b30: #B2B2B2;
$b50: #7F7F7F;
$b70: #4C4C4C;

$stroke-color: $black;