// PDF debugging style
// Uncomment below to see container bounding boxes
// .chart-pdf * {
//   border: cyan 1px solid;
//   stroke: orange;
//   stroke-width: 1px;
// }

@function ptToPx($pt) {
  $magic: 96 / 72;
  $val: ($pt * $magic) * 1px;
  @return ($val);
}

// base64 fonts go here

.chart-pdf,
.print-export-preview-chart,
.chart-print-export {

  .#{$prefix}chart_title {
    font-size: ptToPx(9);
    margin: 0;
    padding: 0;
    line-height: 1em;
    padding-bottom: 2px;
  }

  .#{$prefix}chart_title-text {
    font-size: ptToPx(9);
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1em;
    color: $color-black;
  }

  .#{$prefix}chart_qualifier {
    display: block;
    padding-right: 0;
    padding-left: 0;
    height: auto;
    font-size: ptToPx(8);
    line-height: 1em;
    vertical-align: middle;
    margin: 0;
    padding-bottom: 0;
    color: $color-black;
  }

  .#{$prefix}chart_source {
    font-size: ptToPx(6.5);
    padding-top: 0;
    display: block;
    color: $color-black;
    padding-bottom: 1px;
    margin-bottom: 0;
    line-height: ptToPx(6.5);
    @media(min-width: 420px) {
      width: auto;
    }
  }

  .#{$prefix}chart_source-text {
    padding-top: 4px;
  }

  .#{$prefix}chart_legend {
    padding: 0;
    margin: 0;
    display: block;
    line-height: 11px;
    padding-top: 2px;
  }

  .#{$prefix}chart_legend .#{$prefix}legend_item {
    margin: 0;
    padding-right: 8px;
    line-height: ptToPx(8);
    white-space: nowrap;
  }

  .#{$prefix}chart_legend .#{$prefix}legend_item .#{$prefix}legend_item_icon {
    margin-top: 0px;
    height: 6px;
    width: 6px;
    border-radius: 4px;
    margin-right: 3px;
  }

  .#{$prefix}chart_legend .#{$prefix}legend_item .#{$prefix}legend_item_text {
    color: $color-black;
    font-size: ptToPx(8);
  }

  // axes

  .#{$prefix}axis-group .#{$prefix}minor line {
    stroke: $color-black;
    stroke-dasharray: 0.01, ptToPx(1.7);
    stroke-width: ptToPx(0.5);
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .#{$prefix}axis-group g.tick line {
    stroke: $color-black;
    stroke-width: ptToPx(0.5);
    fill: none;
    font-size: 16px;
    stroke-linecap: square;
  }

  .#{$prefix}zero-line {
    fill: none;
    stroke: $color-black;
    stroke-width: ptToPx(0.5);
  }

  .#{$prefix}y-axis g.tick text {
    text-anchor: end!important;
  }

  .#{$prefix}axis-group path {
    shape-rendering: crispEdges;
    stroke: $color-black;
  }

  .#{$prefix}axis-group text,
  .#{$prefix}bar-label,
  .#{$prefix}annotation_text {
    font-size: ptToPx(8);
    color: $color-black;
    fill: $color-black;
    font-kerning: none;
  }

  .#{$prefix}annotation_text {
    paint-order: stroke;
    stroke: $color-white;
    stroke-width: ptToPx(1.0);
    stroke-linecap: round;
    stroke-linejoin: round;
    text-shadow: none;
  }

  .#{$prefix}series_group .#{$prefix}line, .#{$prefix}series_group .#{$prefix}line.#{$prefix}line-1 {
    stroke-width: ptToPx(1.0) !important;
  }

  .#{$prefix}series_group .#{$prefix}line:only-of-type {
    stroke-width: ptToPx(1.0);
  }

  .major-tick line {
    stroke: $color-black;
    stroke-width: ptToPx(0.5);
  }

  .#{$prefix}type_column .#{$prefix}series_group .#{$prefix}column rect,
  .#{$prefix}type_bar .#{$prefix}series_group .#{$prefix}bar rect {
    stroke-width: ptToPx(0.5);
  }

  .#{$prefix}pointer-path {
    stroke-width: ptToPx(0.5);
  }

  .#{$prefix}annotation_range-line {
    stroke-width: ptToPx(1.0);
  }

}
