// specific to the "new chart" view

.new-chart {
  margin-top: 3em;
  @include span-columns(18);
  @include shift(3);
}

.input-slug, .input-data {
  width: 100%;
}

.input-slug {
  font-size: 5em;
  border: none;
  color: $text;
  padding: 0.05em 0;
  border-bottom: 2px solid $verylightgray;
  margin-bottom: 0.4em;
  @include transition (all 0.1s ease-out);
  @include placeholder {
    color: $verylightgray;
    @include interface-font-light;
    letter-spacing: -0.03em;
  }
  &:focus {
    outline: none;
    border-color: $text;
    @include placeholder {
      color: lighten($verylightgray, 18%);
    }
    @include transition (all 0.1s ease-in);
  }
}

.input-data {
  font-family: "Monaco", "Lucida Console", monospace;
  background-color: lighten($lightgray, 27%);
  height: 20em;
  padding: 0.3em;
  resize: none;
  font-size: 1.2em;
  border: 2px solid lighten($lightgray, 27%);
  margin-bottom: 2em;
  box-sizing: border-box;
  @include transition (all 0.1s ease-out);
  @include placeholder {
    color: $verylightgray;
  }
  &:focus {
    outline: none;
    border: 2px solid $text;
    @include transition (all 0.1s ease-in);
  }
}

.input-submit {
  @extend %button;
  width: 100%;
  background: none;
  font-size: 2em;
}
