// // Basic settings, custom

// $prefix: "ct-";
// $width: 100%;
// $margin: 0 0 20px 0;

// // @import "fonts";

// // Fonts
// $heading-font-family: "Helvetica";
// $heading-font-weight: bold;
// $heading-font-style: normal;
// $heading-font-size: 14px;
// $heading-font-line-height: 17px;

// $utility-font-family: "Helvetica";
// $utility-font-weight: normal;
// $utility-font-style: normal;
// $utility-font-size: 12px;
// $utility-font-line-height: 16px;


// @mixin heading-font {
//   font-family: $heading-font-family;
//   font-weight: $heading-font-weight;
//   font-style: $heading-font-style;
//   font-size: $heading-font-size;
//   line-height: $heading-font-line-height;
// }

// @mixin utility-font {
//   font-family: $utility-font-family;
//   font-weight: $utility-font-weight;
//   font-style: $utility-font-style;
//   font-size: $utility-font-size;
//   line-height: $utility-font-line-height;
// }

// // Colors
// $primary-color: #1f77b4;
// $primary-shade-1: #ff7f0e;
// $primary-shade-2: #bcbd22;
// $primary-shade-3: #8c564b;
// $primary-shade-4: #7f7f7f;
// $primaryShades: $primary-color, $primary-shade-1, $primary-shade-2, $primary-shade-3, $primary-shade-4;

// $alternate-color: #6b6ecf;
// $alternate-shade-1: #b5cf6b;
// $alternate-shade-2: #e7ba52;
// $alternate-shade-3: #d6616b;
// $alternate-shade-4: #ce6dbd;
// $alternateShades: $alternate-color, $alternate-shade-1, $alternate-shade-2, $alternate-shade-3, $alternate-shade-4;

$grayscale-color: #000000;
$grayscale-shade-1: #333333;
$grayscale-shade-2: #555555;
$grayscale-shade-3: #888888;
$grayscale-shade-4: #aaaaaa;
$grayscaleShades: $grayscale-color, $grayscale-shade-1, $grayscale-shade-2, $grayscale-shade-3, $grayscale-shade-4;

$palette-count: 3;
$palette-names: 'primary', 'alternate', 'grayscale';
$palettes: $primaryShades, $alternateShades, $grayscaleShades;

// // Other colors
// $black: #000;
// $text: #333;
// $lightgray: #ababab;
// $verylightgray: #cacaca;
// $white : #fff;

// $axis-stroke-color: $black;
// $axis-stroke-width: 1px;
// $axis-stroke-dasharray: 1, 3px;
// $line-stroke-width: 2px;

// $series-count-max: 5;
