footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid $color-gray-medium;
  overflow: hidden;
  @include clearfix;
  p {
    color: $color-black;
    margin: 0;
    padding: 0;
    @include interface-font-regular;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0.5em 0.5em 0.4em 0.5em;
    a {
      color: $color-black;
      text-decoration: none;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .version {
    float: left;
    text-align: left;
  }
}
