// header styles

header {
  width: 100%;
  padding: 0.3em 0.3em 0 0.3em;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 2000;
  .topbar {
    @include background-image(linear-gradient(darken($text, 60%), lighten($text, 10%)));
    position: absolute;
    left: 0px;
    top: 0px;
    height: 10px;
    width: 100%;
    &:after {
      content: "";
      background-color: $primary-color;
      height: 2px;
      width: 100%;
      position: absolute;
      top: 12px;
    }
  }
  .header-edit {
    border-bottom: 1px solid lighten($verylightgray, 10%);
  }
}

.header-grid {
  @include outer-container;
  @include clearfix;
}

.edit-indicator, .header-help {
  padding-left: 0.3em;
  color: $text;
  @include interface-font-light;
  opacity: 0.2;
  @include transition (all 0.1s ease-out);
  cursor: pointer;
}

.chart-slug {
  margin-top: 0.6em;
  display: inline-block;
  .header-help {
    opacity: 0.2;
  }
  .edit-indicator:hover, .header-help:hover {
    opacity: 1;
    @include transition (all 0.1s ease-in);
  }
}

.input-slug-edit, .edit-indicator, .header-help {
  display: inline-block;
}

.input-slug-edit {
  font-size: 1.5em;
  @include interface-font-bold;
  border: none;
  color: $text;
  padding: 0.3em 0 0.4em 0;
  border-bottom: 1px solid lighten($verylightgray, 10%);
  margin-bottom: -1px;
  letter-spacing: -0.02em;
  min-width: 100px;
  @include transition (width 0.1s);
  @include transition (all 0.1s ease-out);
  @include placeholder {
    color: $verylightgray;
  }
  &:focus {
    outline: none;
    border-color: $text;
    @include placeholder {
      color: lighten($verylightgray, 18%);
    }
    @include transition (all 0.1s ease-in);
  }
}

.header-nav {
  margin-top: 1.1em;
}

.header-edit-nav {
  float: right;
  margin-top: 1.1em;
}

.save-icon {
  display: inline-block;
  height: 1.4em;
  width: auto;
}

.header-new, .header-list, .header-help {
  @extend .edit-indicator;
  opacity: 1;
  text-align: right;
  padding-right: 0.6em;
  a {
    @include interface-font-light;
    display: inline;
    color: $text;
    text-decoration: none;
    @include transition (all 0.1s ease-out);
    &:hover {
      color: $primary-color;
      @include transition (all 0.1s ease-in);
    }
  }
}

.header-help {
  color: $text;
  @include transition (all 0.1s ease-out);
  &:hover {
    color: $primary-color;
    @include transition (all 0.1s ease-in);
  }
}

.header-edit-nav {
  div {
    &:last-of-type {
      padding-right: 0;
    }
  }
}
