// header styles

header {
  width: 100%;
  padding: 0.3em 0.3em 0 0.3em;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 2000;
  .topbar {
    @include background-image(linear-gradient(darken($text, 60%), lighten($text, 10%)));
    position: absolute;
    left: 0px;
    top: 0px;
    height: 10px;
    width: 100%;
    &:after {
      content: "";
      background-color: $primary-color;
      height: 2px;
      width: 100%;
      position: absolute;
      top: 12px;
    }
  }
  h1 {
    @include interface-font-light;
    color: $text;
    font-size: 1.7em;
    letter-spacing: -0.01em;
    line-height: 1em;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 1340px) {
      display: none;
    }
    a {
      color: $text;
      text-decoration: none;
    }
  }
  .header-edit {
    border-bottom: 1px solid lighten($verylightgray, 10%);
    h1 {
      position: absolute;
      top: 0.9em;
      left: 0.5em;
    }
  }
}

.help {
  color: $text;
  @include transition (all 0.1s ease-out);
  cursor: pointer;
  font-size: 1em;
  &:hover {
    color: $primary-color;
    @include transition (all 0.1s ease-in);
  }
}

.header-grid {
  @include outer-container;
  @include clearfix;
}

.edit-indicator {
  padding-left: 0.3em;
  font-size: 1.7em;
  color: $text;
  @include interface-font-light;
  opacity: 0.2;
  @include transition (all 0.1s ease-out);
  cursor: pointer;
}

.saved-indicator {
  position: absolute;
  top: 0.9em;
  right: 0.5em;
  font-size: 1.7em;
  @include interface-font-light;
  @media screen and (max-width: 1340px) {
    display: none;
  }
  img, span {
    display: inline-block;
    vertical-align: top;
  }
  img {
    margin-top: 0.1em;
    height: 0.8em;
    width: auto;
  }
}

.chart-slug {
  margin-top: 0.6em;
  display: inline-block;
  &:hover {
    .edit-indicator {
      opacity: 1;
      @include transition (all 0.1s ease-in);
    }
  }
}

.input-slug-edit, .edit-indicator {
  display: inline-block;
}

.input-slug-edit {
  font-size: 1.7em;
  @include interface-font-bold;
  border: none;
  color: $text;
  padding: 0.3em 0 0.4em 0;
  border-bottom: 1px solid lighten($verylightgray, 10%);
  margin-bottom: -1px;
  letter-spacing: -0.02em;
  min-width: 100px;
  @include transition (width 0.1s);
  @include transition (all 0.1s ease-out);
  @include placeholder {
    color: $verylightgray;
  }
  &:focus {
    outline: none;
    border-color: $text;
    @include placeholder {
      color: lighten($verylightgray, 18%);
    }
    @include transition (all 0.1s ease-in);
  }
}

.header-nav {
  margin-top: 1.1em;
}

.header-edit-nav {
  float: right;
  margin-top: 1.1em;
}

.header-new, .header-list, .header-help {
  @extend .edit-indicator;
  opacity: 1;
  text-align: right;
  padding-right: 0.6em;
  a {
    @include interface-font-regular;
    display: inline;
    color: $text;
    text-decoration: none;
    @include transition (all 0.1s ease-out);
    &:hover {
      color: $primary-color;
      @include transition (all 0.1s ease-in);
    }
  }
}

.header-help {
  float: left;
}

.header-edit-nav {
  div {
    &:last-of-type {
      padding-right: 0;
    }
  }
}
