// header styles

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

header {
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e4e4e4;
  background-color: white;
  z-index: 2000;
  .topbar {
    background-color: $primary-color;
    left: 0px;
    top: 0px;
    height: 7px;
    width: 100%;
  }
}

.header-grid {
  @include outer-container;
  @include clearfix;
  display: flex;
  justify-content: center;
}

.edit-indicator, .header-help {
  padding-left: 0.3em;
  color: $color-black;
  @include interface-font-light;
  opacity: 0.2;
  @include transition (all 0.1s ease-out);
  cursor: pointer;
}

.chart-slug, .header-edit-nav {
  @include span-columns(6 of 12);
  align-self: center;
}

.header-edit-nav {
  text-align: right;
}

.chart-slug {
  display: inline-block;
  .header-help {
    opacity: 0.2;
  }
  .edit-indicator:hover, .header-help:hover {
    opacity: 1;
    @include transition (all 0.1s ease-in);
  }
}

.input-slug-edit, .edit-indicator, .header-help {
  display: inline-block;
}

.input-slug-edit {
  font-size: 1.5em;
  @include interface-font-bold;
  border: none;
  color: $color-black;
  padding: 0.3em 0.3em 0.4em 0.3em;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: -1px;
  background-color: $color-gray-light;
  letter-spacing: -0.02em;
  min-width: 100px;
  @include transition (width 0.1s);
  @include transition (all 0.1s ease-out);
  @include placeholder {
    color: $color-gray-medium;
  }
  &:focus {
    outline: none;
    border-color: $color-black;
    @include placeholder {
      color: $color-gray-medium;
    }
    @include transition (all 0.1s ease-in);
  }
}

header:not(.header-edit) .header-baseline {
  height: 46px;
  display: flex;
}

.header-nav {
  padding: 0.3em 0.3em 0.4em 0.3em;
  align-self: center;
}
.login-nav {
  padding: 0.3em 0.3em 0.4em 0.3em;
  align-self: center;
  float: right;
}

.save-icon {
  display: inline-block;
  height: 1.4em;
  width: auto;
}

.header-new, .header-list, .header-help, .header-welcome {
  @extend .edit-indicator;
  opacity: 1;
  text-align: right;
  padding-right: 0.6em;
  a {
    @include interface-font-light;
    display: inline-block;
    color: $color-black;
    text-decoration: none;
    @include transition (all 0.1s ease-out);
    &:hover {
      color: $primary-color;
      @include transition (all 0.1s ease-in);
    }
  }
}

.header-new {
  padding-right: 0;
}

.header-help {
  color: $color-black;
  @include transition (all 0.1s ease-out);
  &:hover {
    color: $primary-color;
    @include transition (all 0.1s ease-in);
  }
}

.header-edit-nav {
  div {
    &:last-of-type {
      padding-right: 0;
    }
  }
}
