.chart-pdf, .print-export-preview-chart, .chart-print-export {

  display: inline-block;

  svg {
    fill: none;
    background: none;
  }

  .#{$prefix}bg {
    display: none;
    fill: none;
    stroke: none;
  }

  .#{$prefix}tip,
  .#{$prefix}tip_overlay,
  .#{$prefix}tip_box,
  .#{$prefix}tip_rect,
  .#{$prefix}tip_text,
  .#{$prefix}tip_text-date,
  .#{$prefix}tip_line-x {
    display: none;
    fill: none;
    stroke: none;
  }

  .#{$prefix}chart_svg {
    margin: 0;
    line-height: 1em;
  }

  .domain {
    display: none;
  }

  .#{$prefix}axis-group g.tick {
    fill: none;
  }

}

